
<div class="contenedor_busqueda">
    <input type="text" placeholder="Buscar..." id="buscador">
    <button id="boton_buscador"><i class="fa-solid fa-magnifying-glass"></i></button>
</div>
<div></div>
