
<div class="d-flex justify-content-start align-items-start" id ="contenedor_select">
    <select class="form-select w-50"  aria-label="Default select example" id="select_productos">
        <option selected>Productos</option>
        <option value="Procesador"><a href="#">Procesadores</a></option>
        <option value="Mother"><a href="">Mothers</a></option>
        <option value="Placa de video"><a href="">Placas de video</a></option>
        <option value="Memoria"><a href="">Memorias ram</a></option>
      </select>
</div>

