<div class="menu_productos">
    <ul>
        <li>Categorias</li>
        <li><a href="/tipoProducto/?producto=Procesador">Procesadores</a></li>
        <li><a href="/tipoProducto/?producto=Mother">Mothers</a></li>
        <li><a href="/tipoProducto/?producto=Placa%20de%20video">Placas de video</a></li>
        <li><a href="/tipoProducto/?producto=Memoria">Memorias ram</a></li>
    </ul>
</div>