*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --verde : rgb(4, 164, 12);
    --blanco : rgb(255 255 255);
    --negro : rgb(10 0 10);
    --grisOscuro : rgb(71, 69, 69);
}

header{
    display: flex;
    width: 100%;
    background: var(--negro);
    padding: 15px 6px;
}

.header_titulo{
    font-size: 23px;
    color: var(--verde);
    cursor: pointer;
}

header i{
    font-size: 26px;
    margin-left: 6px;
    color: var(--blanco);
}

.contenedor_encabezado{
    position: relative;
    display: flex;
}

.contenedor_busqueda{
    flex-grow: 0.9;
}

.contenedor_carrito{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_carrito:hover{
    cursor: pointer;
    scale: 1.2;
}

.contenedor_carrito i{
    font-size: 20px;
}

.contenedor_carrito p{
    background: var(--negro);
    font-size: 15px;
    color: var(--blanco);
    border-radius: 2px;
}

#contenedor_select{
    padding: 10px 0;
}

.contenedor_busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: relative;
}

.contenedor_busqueda input{
    padding: 3px;
    padding-right: 25px;
    outline: none;
    border: 1px solid var(--negro);
    border-right: 0;
}

.contenedor_principal h3{
    text-align: center;
}

.menu_productos{
    display: none;
}

.contenedor_busqueda button{
    padding: 3px;
    outline: none;
    border: 1px solid var(--negro);
    border-left: 0;
    background-color: var(--blanco);
}


.contenedor_productos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    row-gap: 15px;
    column-gap: 5px;
    padding: 10px 20px;
    align-items: end;
}

.contenedor_productos__producto{
    display: flex;
    flex-direction: column;
}

.contenedor_productos__producto{
    display: flex;
    flex-direction: column;
}

.contenedor_foto_producto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_foto_producto img{
    width: 90%;
    height: 100%;
}

.contenedor_descripcion_producto{
    padding: 5px;
}

.nombre_producto{
    font-size: 16px;
}

.precio_producto{
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    color: var(--verde);
}

.contenedor_comprar_producto{
    display: flex;
    width: 100%;
}

.contenedor_sumar_al_carro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: var(--verde);
    border-radius: 30px;
    cursor: pointer;
}

.contenedor_sumar_al_carro p{
    margin: 0;
    color: var(--blanco);
    font-size: 16px;
    padding: 5px;
}

.contenedor_carrito_producto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_carrito_producto i{
    display: none;
    font-size: 16px;
}

@media screen and (min-width: 580px){
    .contenedor_productos{
        grid-template-rows: 380px;
        grid-auto-rows: 380px;
        align-items: start;
    }
    .contenedor_foto_producto{
        min-height: 205px;
        max-height: 220px;
        align-items: start;
    }

    .contenedor_foto_producto img{
        height: 80%;
        width: 80%;
    }
    .contenedor_descripcion_producto{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,53px);
    }
    .nombre_producto{
        text-align: center;
        font-size: 14px;
    }
    .precio_producto{
        font-size: 17px;
    }
    .contenedor_sumar_al_carro p{
        font-size: 14px;
    }
}

@media screen and (min-width:660px){
    .contenedor_nuestro_productos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
    .contenedor_productos{
        grid-template-columns: repeat(2,280px);
        justify-content: center;
        column-gap: 20px;
    }
}

@media screen and (min-width:850px){
    #buscador{
        width: 500px;
    }
    #select_productos{
        display: none;
    }
    .contenedor_nuestro_productos{
        flex-direction: row;
        justify-content: center;
    }
    .contenedor_productos{
        grid-template-columns: minmax(520px,700px);
        grid-template-rows: min-content;
        grid-auto-rows: min-content;
    }
    .contenedor_productos__producto{
        border-bottom: 2px solid var(--grisOscuro);
    }
    .contenedor_foto_producto{
        min-width: 200px;
        height: 100%;
        align-items: center;
    }
    .contenedor_descripcion_producto{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contenedor_comprar_producto{
        max-width: 200px;
        height: 40px;
        align-self: center;
    }
    .contenedor_productos__producto{
        flex-direction: row;
    }
    .menu_productos{
        display: block;
        width: 280px;
        align-self: start;
    }
    .menu_productos ul{
        list-style: none;
    }
    .menu_productos ul li{
        border-bottom: 1px solid var(--negro);
        margin-bottom: 10px;
    }
    .menu_productos ul li:first-child{
        font-size: 18px;
    }
    .menu_productos ul li a{
        text-decoration: none;
        color: var(--negro);
        font-size: 16px;
    }
    .menu_productos ul li a:hover{
        color: var(--blanco);
        background: var(--negro);
    }

}